/* 共通スタイル */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    padding: 2rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  details summary {
    cursor: pointer;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul ul {
    margin-left: 20px;
  }